@import "tailwindcss";
@config "../tailwind.config.js";
@plugin "@tailwindcss/typography";

:root {
  --font-body: Inter, sans-serif;
  --font-heading: Poppins, sans-serif;
  --font-mono: Fira Code, monospace;
}

body {
  font-family: var(--font-body);
}

.ProseMirror h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
